<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="false">

	<variable name="logLayout" value="${longdate} ${level:uppercase=true} | ${logger} | ${message:exceptionSeparator=\r\n  :withException=true}"/>

	<targets>
		<target xsi:type="Console" name="console"
			layout="${logLayout}${newline}"
		/>
		
		<target xsi:type="ColoredConsole" name="coloredConsole"
			layout="${logLayout}${newline}" >
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGreen" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkYellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="DarkRed" />
		</target>
		
		<target xsi:type="File" name="file" 
			layout="${logLayout}"
			fileName="Logs/J-Rdp_${date:format=yyyy-MM-dd}.log"
		/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="console" enabled="false" />
		<logger name="*" minlevel="Trace" writeTo="coloredConsole" />
		<logger name="*" minlevel="Off" writeTo="file" />
	</rules>
</nlog>